@charset "utf-8";
@font-face {
    font-family: 'GentiumBasicItalic';
    src: url('font/genbasi-webfont.eot');
    src: url('font/genbasi-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/genbasi-webfont.woff') format('woff'),
         url('font/genbasi-webfont.ttf') format('truetype'),
         url('font/genbasi-webfont.svg#GentiumBasicItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LobsterTwoItalic';
    src: url('font/lobstertwo-italic-webfont.eot');
    src: url('font/lobstertwo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lobstertwo-italic-webfont.woff') format('woff'),
         url('font/lobstertwo-italic-webfont.ttf') format('truetype'),
         url('font/lobstertwo-italic-webfont.svg#LobsterTwoItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LobsterTwoBold';
    src: url('font/lobstertwo-bold-webfont.eot');
    src: url('font/lobstertwo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lobstertwo-bold-webfont.woff') format('woff'),
         url('font/lobstertwo-bold-webfont.ttf') format('truetype'),
         url('font/lobstertwo-bold-webfont.svg#LobsterTwoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GentiumBasicBold';
    src: url('font/genbasb-webfont.eot');
    src: url('font/genbasb-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/genbasb-webfont.woff') format('woff'),
         url('font/genbasb-webfont.ttf') format('truetype'),
         url('font/genbasb-webfont.svg#GentiumBasicBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LobsterTwoRegular';
    src: url('font/lobstertwo-regular-webfont.eot');
    src: url('font/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lobstertwo-regular-webfont.woff') format('woff'),
         url('font/lobstertwo-regular-webfont.ttf') format('truetype'),
         url('font/lobstertwo-regular-webfont.svg#LobsterTwoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin:0; padding:0; }
body{ font-family: 'GentiumBasicItalic'; font-size:15px; color: #7c7753; margin: 0px; background:url(../images/header-bg.jpg) top repeat-x; }
h1 { font-family: 'LobsterTwoItalic'; font-size:30px; margin:0 0 20px; line-height:30px; color:#cf6123; font-weight:normal; }
.clr { clear:both; height:0; }
img { border:0; }
p { margin:0 0 12px; }

a { font-family: 'GentiumBasicItalic'; font-size:15px; color: #7c7753; text-decoration:underline; }
a:hover { text-decoration:none; }

#container { width:1000px; margin:0 auto; }
#header {  position:relative; margin-bottom:8px; height:72px; }
#top-links { height:36px; float:right; margin-right:70px; }
#top-links ul { margin:0; padding:0; list-style:none; text-align:right; }
#top-links ul li { margin:0; padding:0 0 0 14px; display:inline; }
#top-links ul li a { font-family: 'GentiumBasicItalic'; font-size:14px; color:#cf6123; text-decoration:none; line-height:36px; }
#top-links ul li a:hover { color:#533917; }

#mainmenuL { float:left; height:37px; margin-left:27px; }
#mainmenuL ul { margin:0; padding:0; list-style:none; text-align:left; }
#mainmenuL ul li { margin:0; padding-right:54px; display:inline; }
#mainmenuL ul li a { font-family: 'GentiumBasicItalic'; font-size:18px; color:#fff; text-decoration:none; line-height:37px; }
#mainmenuL ul li a:hover, #mainmenuL ul li .active  { color:#f1e9bb; }

#mainmenuR { float:right; height:37px; margin-right:70px; }
#mainmenuR ul { margin:0; padding:0; list-style:none; text-align:right; }
#mainmenuR ul li { margin:0; padding-left:65px; display:inline; }
#mainmenuR ul li a { font-family: 'GentiumBasicItalic'; font-size:18px; color:#fff; text-decoration:none; line-height:37px; }
#mainmenuR ul li a:hover, #mainmenuR ul li .active { color:#f1e9bb; }

#logo {	position:absolute; width:121px; height:93px; z-index:1000; top:10px; left:439px; }

#home-banner { width:1000px; margin-bottom:15px; }

#content { margin:0 26px; }

#breadcrumb { color:#5c483a; font-size:14px; font-family: 'GentiumBasicItalic'; margin-bottom:10px; text-transform:uppercase; }
#breadcrumb a { color:#5c483a; font-size:14px; font-family: 'GentiumBasicItalic'; text-decoration:none; text-transform:uppercase; }
#breadcrumb a:hover{ text-decoration:underline; }

#home .col1 { width:275px; float:left; margin:0 48px 20px 0; }
#home .col2 { width:269px; float:left; margin:0 45px 20px 0; color:#5c483a; line-height:24px; }
#home .col2 h3 { width:200px; height:36px; padding-left:34px; font-family: 'LobsterTwoRegular'; font-size:18px; margin:8px 0 20px; color:#fff; font-weight:normal; background:url(../images/h3-bg.png) no-repeat; line-height:36px; text-transform:uppercase; }
#home .col2 a { text-decoration:none; }
#home .col3 { width:260px; float:left; margin:0 0 20px 0; padding-left:45px; border-left:1px solid #e2dcdc; }

#foot-wrapper { background:url(../images/footer-bg.jpg) repeat-x; height:88px; width:100%; }
#footer { width:948px; margin:20px auto 0 auto; padding-top:26px;  }
#footer .col1 { float:left; }
#footer .col2 { float:right; font-family: 'GentiumBasicBold'; font-style:italic; font-size:13px;  color:#f3c363; }
#footer .col2 a { font-family: 'GentiumBasicBold'; font-style:italic; font-size:13px; color:#f3c363; text-decoration:none; }
#footer .col2 a:hover { text-decoration:underline; }

#footer ul { margin:0 0 5px; padding:0; list-style:none; }
#footer ul li { margin:0; padding:0 10px 0 0; display:inline; }
#footer ul li a { font-family: 'GentiumBasicBold'; font-style:italic; margin:0; color:#bda18d; text-decoration:none; font-size:13px; }
#footer ul li a:hover { text-decoration:underline; }

/*********** SPICES ***********/
#spices { margin:30px 0 0; }
#spices .banner { width:461px; height:222px; float:left; margin:0 12px 10px 0; position:relative; }
#spices .banner .desc { width:180px; height:80px; padding:6px 0 0 12px; position:absolute; z-index:1000; background:url(../images/banner-desc-bg.png) repeat; bottom:15px; right:15px; }
#spices .banner .desc ul { margin:0; padding:0; list-style:none; text-align:left; line-height:17px; }
#spices .banner .desc ul li { margin:0; padding:0 0 2px; }
#spices .banner .desc ul li a { font-family: 'GentiumBasicItalic'; font-size:15px; color:#ffffff; text-decoration:none; }
#spices .banner .desc ul li a:hover  { text-decoration:underline; }

#spices .box { width:204px; height:202px; padding:10px; float:left; background:#fffbe1; margin:0 12px 10px 0; font-size:15px; color:#7c7753; line-height:20px; }
#spices .box h3 { font-family: 'LobsterTwoBold'; font-size:18px; color:#3a3635; font-weight:normal; margin:5px 0 5px; } 
#spices .box  a { text-decoration:none; } 
#spices .box  a:hover { color:#666; }

/*********** SPICE DETAILS ***********/
#spice-detail { margin:30px 0 0;  }
#spice-detail .banner { width:461px; height:222px; float:left; margin:0 16px 10px 0; position:relative; }
#spice-detail .banner .desc { width:180px; height:80px; padding:6px 0 0 12px; position:absolute; z-index:1000; background:url(../images/banner-desc-bg.png) repeat; bottom:15px; right:15px; }
#spice-detail .banner .desc ul { margin:0; padding:0; list-style:none; text-align:left; line-height:17px; }
#spice-detail .banner .desc ul li { margin:0; padding:0 0 2px; }
#spice-detail .banner .desc ul li a { font-family: 'GentiumBasicItalic'; font-size:15px; color:#ffffff; text-decoration:none; }
#spice-detail .banner .desc ul li a:hover  { text-decoration:underline; }

#spice-detail .right { width:450px; float:right; margin:0 0 10px 0; }
#spice-detail .box { width:203px; float:left; background:#fffbe1; margin:0 17px 10px 16px; font-size:15px; color:#7c7753; line-height:20px; }
#spice-detail .box h3 { font-family: 'LobsterTwoBold'; font-size:18px; color:#3a3635; font-weight:normal; margin:5px 0 5px; } 

/*********** PRIVATE LABELING ***********/
#private { margin:30px 0 0;  }
#private .left { width:573px; float:left; }
#private .left .banner { width:573px; height:311px; margin-bottom:30px; position:relative; }
#private .left .banner .btn { position:absolute; right:30px; bottom:20px;  }
#private .right { width:336px; float:right;  }
#private .right .box { width:314px; padding:11px; background:#fffbe1; margin:0 0 20px 0; font-size:15px; color:#7c7753; line-height:20px; }
#private .right .box h3 { font-family: 'LobsterTwoBold'; font-size:18px; color:#3a3635; font-weight:normal; margin:5px 0 5px; }

#pvt-menu { margin:44px 0 15px; }
#pvt-menu ul { margin:0; padding:0; list-style:none; text-align:left; }
#pvt-menu ul li { margin:0; padding:0 18px 0 0; display:inline; }
#pvt-menu ul li a { font-family: 'GentiumBasicItalic'; font-size:14px; color:#5c483a; text-decoration:none; line-height:16px; }
#pvt-menu ul li a:hover { text-decoration:underline; }

/*********** CINNAMON ***********/
#cinnamon { margin:30px 0 0; position:relative;  }
#cinnamon .banner { width:930px; height:260px; margin:0 0 20px 0; }
#cinnamon .left { width:665px; float:left; }
#cinnamon .right { width:252px; float:left; margin-left:15px; }
#cinnamon h3 { font-family: 'LobsterTwoBold'; font-size:18px; color:#3a3635; font-weight:normal; margin:0 0 15px; }

#sub-menu {	position:absolute; width:570px; height:26px; z-index:10; left: 206px; top: 38px; }
#sub-menu ul { margin:0; padding:0; list-style:none; text-align:center; }
#sub-menu ul li { margin:0; padding:0 17px; display:inline; }
#sub-menu ul li a { font-family: 'GentiumBasicItalic'; font-size:14px; color:#5c483a; text-decoration:none; line-height:16px; }
#sub-menu ul li a:hover, #sub-menu ul li .active { color:#d47036; }

/*********** PRODUCTS & GRADES *********************/
#grades { margin:30px 0 0; position:relative;  }
#grades .banner { width:930px; height:346px; margin:0 0 20px 0; position:relative; }
#grades .banner .btn { position:absolute; right:44px; bottom:20px;  }
#grades .left { width:474px; float:left; }
#grades .right { width:447px; float:left; margin-left:10px;  }
#grades .right img { margin:0 0 15px 20px;  }
#grades h3 { font-family: 'LobsterTwoBold'; font-size:18px; color:#3a3635; font-weight:normal; margin:0 0 15px; }


/*********** ABOUT *********************/
#about { margin:55px 0 0; position:relative;  }
#about .left { width:190px; float:left; }
#about .right { width:728px; float:right; margin-right:10px; position:relative;  }
#about .right .text { width:410px; float:left;  }
#about .right .labels { width:270px; float:right; margin-top:8px;  }
#about .right .labels .item { margin:0 0 30px; position:relative; }
#about .right .labels .item h3 { width:234px; height:36px; padding-left:20px; font-family: 'LobsterTwoRegular'; font-size:18px; margin:8px 0 20px; color:#fff; font-weight:normal; background:url(../images/h3-bg.png) no-repeat; line-height:32px;  position:absolute; top:84px; left:0; }
#about .right .labels .item a { text-decoration:none; }

#abt-menu ul { margin:0; padding:0; list-style:none; text-align:left; }
#abt-menu ul li { margin:0; padding:0 0 10px; }
#abt-menu ul li a { font-family: 'GentiumBasicItalic'; font-size:14px; color:#5c483a; text-decoration:none; text-transform:uppercase; }
#abt-menu ul li a:hover, #abt-menu ul li .active { color:#d47036; }

/*********** GARDENS *********************/
#gardens { margin:55px 0 0; position:relative;  }
#gardens .left { width:190px; float:left; }
#gardens .right { width:726px; float:right; margin-right:10px; position:relative;  }
#gardens .banner { margin-bottom:24px; }

/*********** CERTIFICATE *********************/
#certify { margin:55px 0 0; position:relative;  }
#certify .left { width:190px; float:left; }
#certify .right { width:726px; float:right; margin-right:10px; position:relative;  }
#certify .right .row { margin-bottom:26px; }
#certify .right .row img { width:155px; float:left; }
#certify .right .row .text { width:536px; float:right; }
#certify .right .row .text h3 { font-family: 'LobsterTwoBold'; font-size:18px; color:#3a3635; font-weight:normal; margin:0 0 15px; }

/*********** CONTACT *********************/
#contact { margin:30px 0 0; position:relative;  }
#contact .left { width:210px; float:left; font-size:18px; }
#contact .right { width:705px; float:right; margin-right:10px; position:relative;  }
#contact .right .form { background:#d9d8cc; padding:12px 27px 27px; margin-bottom:6px; font-size:18px;  }
#contact .right .form h3 { font-family: 'LobsterTwoBold'; font-size:18px; color:#3a3635; font-weight:normal; margin:0 0 15px; }
#contact .right .form .txt-long { width:640px; height:22px; padding:5px; margin:10px 0 16px; font-family: 'GentiumBasicItalic'; font-size:15px; color: #999; border:none; }
#contact .right .form .txt-short { width:303px; height:22px; padding:5px; margin:10px 0 16px; font-family: 'GentiumBasicItalic'; font-size:15px; color: #999; border:none; }
#contact .right .form .txt-area { width:640px; height:115px; padding:5px; margin:10px 0 0; font-family: 'GentiumBasicItalic'; font-size:15px; color: #999; border:none; }
#contact .right .form .col1 { float:left; }
#contact .right .form .col2 { float:right; }
#contact .right .submit { margin:5px 0 20px 27px; color:#cf6123; }

/************ CEYLON CINNAMON ********************/
#ceylon { margin:30px 0 0; position:relative;  }
#ceylon .banner { width:930px; height:444px; margin:0 0 20px 0; position:relative; }
#ceylon .banner .desc { width:640px; height:340px; padding:12px 20px 0 20px; position:absolute; z-index:1000; background:url(../images/banner-desc-bg.png) repeat; bottom:15px; right:15px; }
#ceylon .banner .desc  { font-family: 'GentiumBasicItalic'; font-size:18px; color:#ffffff; text-decoration:none; line-height:20px; }
#ceylon ul { margin:0; padding:0; list-style:none; text-align:center; }
#ceylon ul li { margin:0; padding:0 10px; display:inline; background:url(../images/sep.jpg) left no-repeat; }
#ceylon ul li:first-child { background:none; }
#ceylon ul li a { font-family: 'GentiumBasicItalic'; font-size:14px; text-decoration:none; line-height:16px; }
#ceylon ul li a:hover, #ceylon ul li .active { text-decoration:underline; }

